<div>

    <nav class="navbar navbar-expand-lg bg-primary navbar-dark">

        <div class="container-fluid">
            <a class="navbar-brand" href="#">Angular</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">

                <span class="navbar-toggler-icon"></span>

            </button>

            <div class="collapse navbar-collapse" id="navbarNavDropdown">

                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="interpolacion=componente">Interpolacion</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="directivas-estructuralaes">Directivas Estructurales</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="directivas-atributos">Directivas Atributos</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="caso-examen-admision">Caso Examen Admision</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" routerLink="tuberias-formato-salida">Pipes Angular</a>
                    </li>
                   
                    <li class="nav-item">
                        <a class="nav-link" routerLink="buscador-curso">Pipe Buscar</a>
                    </li>

                    <li class="nav-item dropdown">

                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Mas acciones
                        </a>

                        <ul class="dropdown-menu">

                            <li><a class="dropdown-item" routerLink="template-driven">Template Driven</a></li>
                            <li><a class="dropdown-item" routerLink="model-driven">Form Model-Driven</a></li>
                            <li><a class="dropdown-item" routerLink="gestor-empleados">Servicio Empleados</a></li>
                            <li><a class="dropdown-item" routerLink="productos-zapatillas">Productos Zapatillas</a></li>
                            <li><a class="dropdown-item" routerLink="buscador-productos">Busquqeda Productos [Pipe]</a></li>
                            <li><a class="dropdown-item" routerLink="regcli-banco">Registro de Clientes</a></li>
                            <li><a class="dropdown-item" routerLink="gestor-peliculas">Servicio de Peliculas</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>