
<div class="border border-2 shadow border-primary m-2 p-2 lead fs-3 text-primary">
<p class="lead display-3"> Componente Interpolacion</p>
  <p class="lead fs-2 text-primary"> Titulo: {{title}}</p>
  <p>Subtitulo:{{subtitulo}}</p>
  <p>Dni: {{dni}}</p>
  <p>La suma de {{n1}} + {{n2}} = {{n1+n2}}</p>
  <p>La resta de {{n1}} - {{n2}} = {{n1-n2}}</p>
  <p>La multipliacion de {{n1}} * {{n2}} = {{n1*n2}}</p>
  <p>La division de {{n1}} / {{n2}} = {{n1/n2}}</p>
  <p>La residuo de {{n1}} % {{n2}} = {{n1%n2}}</p>

</div>